.blog-nav-prev {
  display: none;
}

@media (min-width: 600px) {
  .blog-nav-prev {
    display: flex;
    width: 25vw;
  }
}

.blog-nav-next {
  display: none;
}

@media (min-width: 600px) {
  .blog-nav-next {
    display: flex;
    width: 25vw;
  }
}

.blog-nav--mobile {
  display: flex;
  font-size: 1.2em;
}

@media (min-width: 600px) {
  .blog-nav--mobile {
    display: none;
  }
}
