.blog-nav-prev,
.blog-nav-next {
  display: none;

  @include breakpoint($bp-medium) {
    display: flex;
    width: 25vw;
  }
}

.blog-nav--mobile {
  display: flex;
  font-size: 1.2em;

  @include breakpoint($bp-medium) {
    display: none;
  }
}
