.comment-form {
  margin: 3rem 0;
  border: 1px solid $dark-gray;
  padding: 1rem;

  @include breakpoint($bp-small) {
    padding: 2rem;
  }

  @include breakpoint($bp-medium) {
    padding: 2rem;
    margin-top: 5rem;
  }

  &__title {
    font-size: 1.5rem;

    @include breakpoint($bp-small) {
      font-size: 2rem;
    }

    &--alt {
      margin-top: 6rem;
    }
  }

  &__button {
    margin-top: 1rem;
    font-size: 0.8rem;

    @include breakpoint($bp-small) {
      font-size: 1rem;
    }
  }
}

.form-field {
  @include form-field;

  &--tall {
    height: 8rem;
  }
}

// stile for the comment output
.comment-box {
  @include form-field;
  margin: 2rem auto;

  &-info {
    @include breakpoint($bp-small) {
      display: flex;
      flex-direction: column;
      background-color: $light-blue;
      // justify-content: space-around;
    }
  }

  &-text {
    text-align: left;
    // background-color: $light-blue;
  }
}
